@font-face {
    font-family: chopsic;
    src: url("../fonts/chopsic/Chopsic.otf");
  }
  .my-title{
      font-family: chopsic,sans-serif;
      color: white;

  }
.navbar{
    background-color:burlywood
}
.search-input-style{
   background-color: rgb(63, 36, 36);
   color: white;
  
}